In [ ]:
!pip install openai

Collecting openai
  Downloading https://files.pythonhosted.org/packages/a8/65/c7461f4c87984534683f480ea5742777bc39bbf5721123194c2d0347dc1f/openai-0.2.4.tar.gz (157kB)
     |████████████████████████████████| 163kB 2.8MB/s
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from openai) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->openai) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->openai) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->openai) (1.24.3)
Building wheels for collected packages: openai
  Building wheel for openai (setup.py) ... done
  Created wheel for openai: filename=openai-0.2.4-cp36-none-any.whl size=170709 sha256=7ae56fa654e2071a250acdeed89d5fb874faa15c8755bb252607201d0e434798
  Stored in directory: /root/.cache/pip/wheels/74/96/c8/c6e170929c276b836613e1b9985343b501fe455e53d85e7d48
Successfully built openai
Installing collected packages: openai
Successfully installed openai-0.2.4

In [ ]:
import json
import openai

In [ ]:
with open('GPT_SECRET_KEY.json') as f:
    data = json.load(f)

In [ ]:
openai.api_key = data["API_KEY"]

In [ ]:
from gpt import GPT
from gpt import Example

In [ ]:
gpt = GPT(engine="davinci",
          temperature=0.5,
          max_tokens=100)

# Adding Examples for GPT Model

In [ ]:
gpt.add_example(Example('Fetch unique values of DEPARTMENT from Worker table.', 
                        'Select distinct DEPARTMENT from Worker;'))

In [ ]:
gpt.add_example(Example('Print the first three characters of FIRST_NAME from Worker table.', 
                        'Select substring(FIRST_NAME,1,3) from Worker;'))

In [ ]:
gpt.add_example(Example("Find the position of the alphabet ('a') in the first name column 'Amitabh' from Worker table.", 
                        "Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh';"))

In [ ]:
gpt.add_example(Example("Print the FIRST_NAME from Worker table after replacing 'a' with 'A'.", 
                        "Select CONCAT(FIRST_NAME, ' ', LAST_NAME) AS 'COMPLETE_NAME' from Worker;"))

In [ ]:
gpt.add_example(Example("Display the second highest salary from the Worker table.", 
                        "Select max(Salary) from Worker where Salary not in (Select max(Salary) from Worker);"))

In [ ]:
gpt.add_example(Example("Display the highest salary from the Worker table.", 
                        "Select max(Salary) from Worker;"))

In [ ]:
gpt.add_example(Example("Fetch the count of employees working in the department Admin.", 
                        "SELECT COUNT(*) FROM worker WHERE DEPARTMENT = 'Admin';"))

In [ ]:
gpt.add_example(Example("Get all details of the Workers whose SALARY lies between 100000 and 500000.", 
                        "Select * from Worker where SALARY between 100000 and 500000;"))

In [ ]:
gpt.add_example(Example("Get Salary details of the Workers", 
                        "Select Salary from Worker"))

# Example 1

In [ ]:
prompt = "Display the lowest salary from the Worker table."

In [ ]:
output = gpt.submit_request(prompt)

In [ ]:
output.choices[0].text

'output: Select min(Salary) from Worker;\n'

# Example 2

In [ ]:
prompt = "Tell me the count of employees working in the department HR."

In [ ]:
output = gpt.submit_request(prompt)

In [ ]:
output.choices[0].text

"output: SELECT COUNT(*) FROM worker WHERE DEPARTMENT = 'HR';\n"

# Example 3

In [ ]:
prompt = "Get salary details of the Workers whose AGE lies between 25 and 35"

In [ ]:
print(gpt.get_top_reply(prompt))

output: Select Salary from Worker where AGE between 25 and 35;