In [ ]:
!pip install nltk
import nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
from nltk.corpus import stopwords
import pandas as pd

In [ ]:
columns_names='userid','order','order_id'

In [ ]:
user_query = input ('Enter query-')
print (user_query)

Enter query-userid is 1
userid is 1

In [ ]:
temp=list()
user_query=user_query.lower()
tokenized_query=nltk.word_tokenize(user_query)
stopword_removed=stopwords.words('english')
stripped_text = [word for word in tokenized_query if not word in stopwords.words()]
print(stripped_text)

['userid', '1']

In [ ]:
matched=[name for name in columns_names if name in stripped_text]
print(matched)

['userid']

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
from nltk.corpus import wordnet as wn

all_nouns = []
for synset in wn.all_synsets('n'):
    all_nouns.extend(synset.lemma_names())

noun_query= [word for word in stripped_text if word in all_nouns]
noun_query= [word for word in noun_query if word not in matched]
print (noun_query)

['1']

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [ ]:
tag=nltk.pos_tag(stripped_text)
tag

[('userid', 'JJ'), ('1', 'CD')]

In [ ]:
str1 = ''.join(matched)
str2 = ''.join(noun_query)
lenstr2=(len(str2))
if lenstr2 == 0:
  str2= '* '
else:
  str2= str2
SQL_query='Select ' + str2 + ' from '+ str1
print(SQL_query)

Select 1 from userid